<!DOCTYPE html>
<html lang="en-US">
  <head>
<%- partial("../_head", {"title":title + " | GBC"}) %>
  </head>
  <body>
    <img class="bg hidden-xs" src="/images/GBC-onaijin.jpg">

<%- partial("../_nav") %>

    <div class="container">
    
      <div class="row">
        <div class="col-xs-12">
          <h2>
            <%- title %>
            <small><%- date %></small>
          </h2>
        </div>
      </div>

<%- yield %>


<nav>
  <ul class="pager">
    <li class="previous"><a href="/post_list"><span aria-hidden="true">&larr;</span> Back</a></li>
  </ul>
</nav>

<%- partial("../_footer") %>
    </div>

<%- partial("../_javascript") %>
  </body>
</html>